<script>
  $(document).ready(function(){
   $('.slider').slider();

   // $('.tap-target').tapTarget('open');

 });


</script>
<div style="height: 100%;" class="gradient">


<!-- <div  style=" z-index: 1"class="row">
  <div class="col s4 ">
    <a style ="width: 100%; opacity: 0.7;"class="waves-effect waves-light btn transparent z-depth:5" href="/main"> Main</a>
  </div>
  <div class="col m4 ">
    <a style ="width: 100%; opacity: 0.7;"class="waves-effect waves-light btn transparent z-depth:5" href="/projects"> Projects</a>
  </div>
  <div class="col m4 ">
    <a style ="width: 100%; opacity: 0.7;"class="waves-effect waves-light btn transparent z-depth:5" href="/about"> About</a>
  </div>


</div> -->



<div class= "geoback"style:"z-index: 0">


         <!-- random image -->
        <!-- http://i68.tinypic.com/ipbi38.jpg red logo screen -->
        <!-- <div style="margin-right: 10%; margin-left: 10%; margin-top: 10%;border-radius: 15px; padding-top: 30px; margin-bottom: 15%;"class="caption center-align z-depth-5 hoverable"> -->
          <a href="/main"><h4 style=" opacity: 0.9;font-size: 100px; margin-top:15%;z-index: 100; border-radius: 15px;margin-left: 10%; margin-right: 10%;margin-bottom: 10%;"class="Julius  grey-text hoverable center-align"> Bwilmott.com</h4></a>
          <div>
            <div class="row">
              <div class=" col s12">
                <div class="container center-align">
                  <p style="font-weight:lighter;margin-bottom: 10px;"class="Julius white-text">Hi, my name is Brandon Wimott, Im a junior web developer from Virginia Currently residing in Nashville,TN. I specialize in front-end development and can also implement backend development as well. Take a look at my contact information as well as my Github account by clicking my portfolio link above</p>
                  <div class="divider"></div>

                    <img style="height: 7em; margin-top: 15px"src="images/crop.png" alt="">
                    <div class="container center-align">
                      <div  style="margin-top: 10px"class="col s12">

                      <a href="https://www.facebook.com/brandon.wilmott"><img style = "height: 20px" src="images/facebook.png" alt=""></a>
                    <a href="https://github.com/bwilm"><img style = "height: 20px"src="images/github.png" alt=""></a>
                      <a href="https://twitter.com/brandonwilmott?lang=en"><img style = "height: 20px"src="images/twitter.png" alt=""></a>
                    <a href="https://www.linkedin.com/in/brandon-wilmott-58333650/"><img style = "height: 20px"src="images/linked.png" alt=""></a>

                    </div>

                    </div>



                </div>

              </div>
            </div>
          </div>

          <!-- <div style="margin-top: 10em; border-radius: 25px"class="container"> -->
          <!-- <a id="menu" class="waves-effect waves-light btn btn-floating center-align z-depth-5 pulse" ><i class="material-icons">menu</i></a>

          <!-- Tap Target Structure -->
          <!-- <div class="tap-target teal lighten-3" data-activates="menu">
            <div class="tap-target-content">
              <h5>Title</h5>
              <p>A bunch of text</p>
            </div>
          </div> -->
        <!-- </div>
        </div> -->

  </div>



    <!-- Element Showed -->
