<script>

$(document).ready(function(){
 $('.slider').slider();
   $(".button-collapse").sideNav();
     $(".button-collapse").sideNav();
       $('.carousel').carousel();

});




</script>


<ul id="dropdown1" class="dropdown-content transparent">
  <li><a href="#!">one</a></li>
  <li><a href="#!">two</a></li>
  <li class="divider"></li>
  <li><a href="#!">three</a></li>
</ul>
<nav>
  <div class="nav-wrapper deep-orange darken-4  hoverable z-depth-5">
    <a href="#!" class="brand-logo"><img style="height: 90px; width: auto; padding-bottom: 20px;"class="transparent"src="/images/bwlogo.png" alt=""></a>
    <ul class="right hide-on-med-and-down">

      <li class="quantico"style="font-weight: bolder"><a style="font-size: 20px;" href="/">home</a></li>
      <!-- Dropdown Trigger -->

    </ul>
  </div>
</nav>




  <!-- <div class="carousel">
    <a class="carousel-item" href="http://angular.io"><img src="/images/angular.png"></a>
    <a class="carousel-item" href="http://jquery.com"><img src="/images/jquery.png"></a>
    <a class="carousel-item" href="https://developer.apple.com/swift/"><img src="/images/swift.png"></a>
      <a class="carousel-item" href="http://typescriptlang.org"><img src="/images/typescript.png"></a>
        <a class="carousel-item" href="http://sass-lang.com"><img src="/images/sass.png"></a>
          <a class="carousel-item" href="http://getbootstrap.com"><img src="/images/bootstrap.png"></a>
            <a class="carousel-item" href=""><img src="/images/html5.png"></a>
              <a class="carousel-item" href=""><img src="/images/css3.png"></a>
                <a class="carousel-item" href="http://javascript.com"><img src="/images/javascript.png"></a>
                  <a class="carousel-item" href="http://nodejs.org"><img src="/images/nodejs.png"></a>
                    <a class="carousel-item" href="http://materializecss.com"><img src="/images/materialize.png"></a>
                      <a class="carousel-item" href="http://mysql.com"><img src="/images/mysql.png"></a>
                        <a class="carousel-item" href="http://mongodb.com"><img src="/images/mongo.png"></a>

  </div> -->


    <div class="row">
      <div  style="margin-top: 1em;"class=" col s3 center-align">
  <img style="height: 20em;margin-left:1em"src="images/cropbw.png" alt="">
</div>
  <div style=""class="col s9 center-align">
    <div class="divider"></div>
    <p style="font-size: 80px" class=" Julius">Bwilmott.com</p>
    <div class="divider"></div>
  <h5 style="margin-left: 5em; margin-top: 2em;font-weight:lighter;margin-right: 2em"class="Julius">Let me help you realize your website or businesses creative potential </h5>
</div>



  </div>


  <div class="divider"></div>
  <h4 style="margin-bottom: 3em;"class= "Julius"> Completed Projects</h4>
  <div class="row">
    <div class="col s3">
    <a href="http://proximo.life"target="_blank"> <div style="width: auto; overflow: hidden" class=" transparent hoverable z-depth-5">
      <img style= " height: 150px"src="images/proximolink.png" alt=""></a>
    </div>
    </div>
    <div class="col s3">
      <h4 class="Julius"style="font-size= 15px">proximo.life</h4><p> Proximo is a web application that has an online dating feel. Pick images you like from locations in your area, Proximo will choose a restraunt for you!</p>
    </div>
    <div class="col s3">
    <a href="http://github.brandon"target="_blank"> <div style="width: auto; overflow: hidden" class=" transparent hoverable z-depth-5">
      <img style= " height: 150px"src="images/ecommerce.png" alt=""></a>
    </div>
    </div>
    <div class="col s3">
      <h4 class="Julius"style="font-size= 15px">e-commerce site</h4><p> Simple e-commerce cite with multiple pages and lets you checkout with a credit card etc.</p>
    </div>
  </div>
  <div class="divider"></div>
  <h4 style="margin-top: 2em;margin-bottom: 1em;"class="Julius"> Current Stack</h4>
  <div class="divider"></div>
<div style=" height: fit-content;"class="">
<div class="row">
    <div class="col s3">

      <div style="border-radius: 15px"class="card horizontal hoverable z-depth-5 transparent">
        <div class="card-image">
          <img style="height: 90px"src="images/angular.png">
        </div>
        <div class="card-stacked">
          <div class="card-content">
            <p>AngularJS</p>
          </div>
          <div class="card-action">

          </div>
        </div>
      </div>
    </div>
    <div class="col s3">

      <div  style="border-radius: 15px" class="card horizontal hoverable z-depth-5 transparent">
        <div class="card-image">
          <img style="height: 90px"src="images/javascript.png">
        </div>
        <div class="card-stacked">
          <div class="card-content">
            <p>javascript</p>
          </div>
          <div class="card-action">

          </div>
        </div>
      </div>
    </div>
    <div class="col s3">

      <div style="border-radius: 15px"class="card horizontal hoverable z-depth-5 transparent">
        <div class="card-image">
          <img style="height: 90px"src="images/jquery.png">
        </div>
        <div class="card-stacked">
          <div class="card-content">
            <p>jQuery</p>
          </div>
          <div class="card-action">

          </div>
        </div>
      </div>
    </div>
    <div class="col s3">

      <div style="border-radius: 15px"class="card horizontal hoverable z-depth-5 transparent">
        <div class="card-image">
          <img style=" height: 90px"src="images/swift.png">
        </div>
        <div class="card-stacked">
          <div class="card-content">
            <p>Swift</p>
          </div>
          <div class="card-action">

          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="row" style="">
    <div class="col s3">

      <div style="border-radius: 15px"class="card horizontal hoverable z-depth-5 transparent">
        <div class="card-image">
          <img style=" height: 90px;"src="images/ts.jpg">
        </div>
        <div class="card-stacked">
          <div class="card-content">
            <p>Typescript</p>
          </div>
          <div class="card-action">

          </div>
        </div>
      </div>
    </div>
    <div class="col s3">

      <div style="border-radius: 15px"class="card horizontal hoverable z-depth-5 transparent">
        <div class="card-image">
          <img style="height: 90px"src="images/sass.png">
        </div>
        <div class="card-stacked">
          <div class="card-content">
            <p>Sass</p>
          </div>
          <div class="card-action">

          </div>
        </div>
      </div>
    </div>
    <div class="col s3">

      <div style="border-radius: 15px"class="card horizontal hoverable z-depth-5 transparent">
        <div class="card-image">
          <img style="height: 90px"src="images/Bootstrap.png">
        </div>
        <div class="card-stacked">
          <div class="card-content">
            <p>Bootsrap</p>
          </div>
          <div class="card-action">

          </div>
        </div>
      </div>
    </div>
    <div class="col s3">

      <div style="border-radius: 15px" class="card horizontal hoverable z-depth-5 transparent">
        <div class="card-image">
          <img style="height: 90px;"src="images/html5.png">
        </div>
        <div class="card-stacked">
          <div class="card-content">
            <p>HTML5</p>
          </div>
          <div class="card-action">
            <a class="white-text" href="" target="_blank"></a>
          </div>
        </div>
      </div>
    </div>
  </div>
    <div class="row">
      <div class="col s3">

        <div style="border-radius: 15px"class="card horizontal hoverable z-depth-5 transparent">
          <div class="card-image">
            <img style="height: 90px"src="images/css3_2.png">
          </div>
          <div class="card-stacked">
            <div class="card-content">
              <p>CSS3</p>
            </div>
            <div class="card-action">
              <a class="white-text" href="" target="_blank"></a>
            </div>
          </div>
        </div>
      </div>
      <div class="col s3">

        <div style="border-radius: 15px"class="card horizontal hoverable z-depth-5 transparent">
          <div class="card-image">
            <img src="images/nodejs.png">
          </div>
          <div class="card-stacked">
            <div class="card-content">
              <p>nodejs</p>
            </div>
            <div class="card-action">

            </div>
          </div>
        </div>
      </div>
      <div class="col s3">

        <div style="border-radius: 15px"class="card horizontal hoverable z-depth-5 transparent">
          <div class="card-image">
            <img style="height:90px;"src="images/materialize.png">
          </div>
          <div class="card-stacked">
            <div class="card-content">
              <p>Materialize</p>
            </div>
            <div class="card-action">

            </div>
          </div>
        </div>
      </div>
      <div class="col s3">

        <div style="border-radius: 15px"class="card horizontal hoverable z-depth-5 transparent">
          <div class="card-image">
            <img style="height:90px"src="images/mysql_2.png">
          </div>
          <div class="card-stacked">
            <div class="card-content">
              <p>Mysql</p>
            </div>
            <div class="card-action">

            </div>
          </div>
        </div>
      </div>
    </div>
      <div class="row">
      <div class="col s3">

        <div style="border-radius: 15px"class="card horizontal hoverable z-depth-5 transparent">
          <div class="card-image">
            <img style="height: 90px"src="images/mongo.png">
          </div>
          <div class="card-stacked">
            <div class="card-content">
              <p>Mongodb</p>
            </div>
            <div class="card-action">

            </div>
          </div>
        </div>
      </div>
      <div class="col s3">

        <div style="border-radius: 15px"class="card horizontal hoverable z-depth-5 transparent">
          <div class="card-image">
            <img src="images/heroku.png">
          </div>
          <div class="card-stacked">
            <div class="card-content">
              <p>heroku</p>
            </div>
            <div class="card-action">

            </div>
          </div>
        </div>
      </div>
    </div>



    </div>
  </div>






  <div class="fixed-action-btn  ">
    <a class="btn-floating btn-large grey">
      <i class="large material-icons">person_outline</i>
    </a>
    <ul>
      <li><a class="btn-floating red" href="https://github.com/bwilm"><img  style= "height: 30px; padding-top: 10px;"src="images/github.png" alt=""></a></li>
      <li><a class="btn-floating blue darken-1"href="https://www.facebook.com/brandon.wilmott"><img  style= "height: 30px; padding-top: 10px;"src="images/facebook.png" alt=""></a></li>
      <li><a class="btn-floating blue lighten-2" href="https://twitter.com/brandonwilmott?lang=en"><img  style= "height: 30px; padding-top: 10px;"src="images/twitter.png" alt=""></a></li>

    </ul>
  </div>
